/*************************************************************************************************
 * Document
 *************************************************************************************************/

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    /* overscroll-behavior: none; */
    background: #151515;
    color: #a0a0a0;
    font-family: "Fredoka", serif;
}

h1 {
    font-size: 30vw;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    margin: 0;
    padding: 0;
}

a {
    pointer-events: all;
    color: #a0a0a0;
    text-decoration: none;
}

svg {
    fill: #a0a0a0;
}

.following-element {
    position: absolute;
    left: var(--video-x);
    top: var(--video-y);
    width: var(--scale-x);
    height: var(--scale-y);
    transform: translate(-50%, -50%);
    pointer-events: none !important;
    opacity: var(--video-opacity);
    /* transition: opacity 1000ms ease-in-out; */
    /* transition-duration: 1000ms, 0ms; */
    /* display: flex; */
    /* justify-content: center; */
    /* Optional: add smooth transitions */
    /* transition: all 0.1s ease-out; */
    z-index: 100;
}

.vds-blocker {
    pointer-events: none !important;
}

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
}

.SliderTrack {
    background-color: #212121;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
}

.SliderRange {
    position: absolute;
    background-color: white;
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 10px #666666;
    border-radius: 10px;
}
.SliderThumb:hover {
    background-color: "#5532a8";
}
.SliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px #cccccc;
}

.ProgressRoot {
    position: relative;
    overflow: hidden;
    background: #212121;
    width: 100%;
    height: 25px;

    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
}

.ProgressIndicator {
    background-color: white;
    width: 100%;
    height: 100%;
    transition: transform 500ms linear;
}

.end-card {
    font-size: 15px;
    justify-content: end;
    padding-bottom: 12vh;
    padding-right: 15px;
    font-family: "Inter var", sans-serif;
}

.tools {
    font-size: 10px;
}

a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1500px) {
    .end-card {
        padding-bottom: 0%;
        font-size: 25px;
        justify-content: center;
    }

    .tools {
        font-size: 15px;
    }
}
